<div class="span4">
	<div style="float:left;margin-bottom:15px;">
		<div style="float:left;">
			<div class="flabel">First Name</div>
			<%= f.text_field :first_name, style: "width:120px;margin-right:17px;font-size:110%;" %>
		</div>
		<div style="float:left;">
			<div class="flabel">Last Name</div>
			<%= f.text_field :last_name, style: "width:120px;font-size:110%;" %>
		</div>
	</div>
</div>
<div class="span4">
	<div style="clear:both;">
		<div class="flabel">Birthday</div>
		<% if f.object.birthday? %>
			<%= f.text_field :birthday, style: "font-size:110%;", value: f.object.birthday.strftime("%m/%d/%Y") %>
		<% else %>
			<%= f.text_field :birthday, style: "font-size:110%;", placeholder: "mm/dd/yyyy" %>
		<% end %>
	</div>
</div>