<p><%= @user.first_name %>,</p>

<p>Thank you for signing up for Storkypics! We help you share the story of your growing child with your closest friends and relatives.</p>

<p>You can send pictures with just a few clicks.  Upload pictures now <%= link_to 'here', new_order_url, target: "_blank" %>.</p>

<p>Best,<br>
Team Stork</p>