<a data-toggle="modal" href="#bibpromotionModal">Storkypics bib!</a>
<div class="modal hide" id="bibpromotionModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 style="font-size:16pt;">The next 50 orders will include this cute Strokypics bib free of charge!</h3>
  </div>
  <div class="modal-body">
    <%= image_tag("bib-promotion.jpg", height: "55%", width: "55%") %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>