<div style="margin: 20px 0;">
	<%= f.file_field :pic %>
	<%= f.hidden_field :user_id, value: current_user.id %>

	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_fields", 
							   style: "float:right;
							   		   width:65%;
							   		   position:relative;top:5px;;
									   font-family: 'BebasRegular';
									   letter-spacing: .05em;
									   word-spacing: .2em;" %>
</div>