
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

@font-face {
    font-family: 'BebasRegular';
    src: url('/assets//BEBAS___-webfont.eot');
    src: url('/assets//BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets//BEBAS___-webfont.woff') format('woff'),
         url('/assets//BEBAS___-webfont.ttf') format('truetype'),
         url('/assets//BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/** CSS Reset **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, form, input, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding-top: 65px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p{
	/*font-family: 'Georgia';
	color: #f15e3e;*/
	color: #696762;
	line-height: 1.2;
	font-size: 18px;
	font-family: 'Georgia';
	letter-spacing: .1em;
}




/** Begin Sarah's CSS **/

body{
	width: 100%;
	margin: auto;
	background: #ecece2;
}

#top-banner{
	height: 50px;
	background: #faf7e9;
	background: url("/assets/banner.png") repeat-x;
}

#header{
	margin: 0 auto 0 auto;
	width: 90%;
	text-align: center; 
	padding-bottom: 2em;
}

#header .logo{
	width: 452px;
	margin-top: 40px;
}

#header .lines{
	margin: 2em 0 2.8em 0;
	clear: both;
	padding-left: 2em;
}


#blockquote{
	margin: 0 auto;
	text-align: center;
	width: 845px;
	font-family: 'BebasRegular';
	text-transform:uppercase;
	height: 0;
 	color: #696762;
    border-width: 20px 10px ;  
    border-style: solid;  
    border-color: #faf7e9 transparent;
    line-height: 0;
    letter-spacing: .03em;
    
}

#blockquote p{
	margin-top: -10px;
	color: #696762;
	font-family: 'BebasRegular';
	font-size: 1.2em;
	letter-spacing: .05em;
}


#blockquote em{
	color: #588c96;
	line-height: 1;
	font-size: 16px;
	font-family: 'Georgia';
	text-transform: lowercase;
	padding: .3em;
	font-style: italic;
	letter-spacing: .1em;
}


#container1{
	margin: 0 auto 0 auto;
	width: 90%;
	text-align: center; 
	padding-bottom: 2em;

}

#call-to-action{
	margin: 0 auto;
	width: 90%;
	text-align: center; 
	padding: .5em 0 1em 0;
	
}

#call-to-action p{
	font-style: italic;
	font-size: 1em;
	text-align: center;
	color: #f15e3e;
}

#call-to-action h4{
	font-family: 'BebasRegular';
	color: #f15e3e;
	font-size: 21px;
	padding-top: .2em;
	text-align: center;
}


#blue-lines{
	position: relative;
	right: 20px;
	height: 5px;
	margin: 0 auto;
	width: 851px;
	padding: 0;
	background: url('/assets/blue-lines.png') no-repeat;
}



/* Form */

form p{
	color: #588c96;
	display: inline;
	padding: 0;
}

form input{
	display: inline;
	width: 270px;
	height: 36px;
	padding: 0;
	margin-right: 0px;
	font-size:110%;
}

.submit{
	width: 129px;
	height: 35px;
	background: #a0c8d4;
	color: #fff;
	font-family: 'BebasRegular';
	line-height: 0;
	font-size: 20px;
	letter-spacing: .1em;
	padding: 5px;
	margin: 0;
	border: 0;
	padding-bottom: 7px;
	cursor: pointer;
	margin-top: 5px;
}

input{
	margin-top: 0;
}
 
/*label{
	z-index: 999;
	margin: -.1em;
	margin-top: 0.3em;
	margin-left: -.2em;
	font-size: 1.2em;
	padding-left: 12px;
	padding-top: 9px;
	padding-bottom: 3px;
	border: 1px solid #a0c8d4;
	width: 257px;
	height: 24px;
	text-align: left;
	position: absolute;
}*/





/* How it Works */

#procedure{
	width: 900px;
	margin: 0 auto;
	position: relative;
	margin-top: 0;
}

#procedure ul{

	list-style: none;
	display: inline;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	}
	
#procedure lh{
	float: left;
	margin: 0 auto;
}

#procedure lh img{
	position: absolute;
	float: left;
	clear: both;
	top: 0;
	margin-left: 85px;
}

#procedure li{
	list-style: none;
	display: inline;
	width: 29%;
	float: left;
	margin-bottom: 3em;	
	font-family: 'BebasRegular';
	color: #f15e3e;
	letter-spacing: .12em;
	line-height: 1.5;
	font-size: 15px;
	padding-bottom: 1em;
	margin-top: 6em;
	margin-right: 3.9em;
}

#procedure li:last-child{
	margin-right: 0;
	float: right;
}

#procedure li img{
	width: 233px;
	border: 10px solid #faf7e9;
	margin-top: 20px;
	
}




/* No More */

#no-more{
	clear: both;
	width: 885px;
	height: 197px;
	background: #faf7e9;
	margin: auto;	
}

#no-more h3{
	position: absolute;
	color: #f15e3e;	
	-moz-transform:rotate(-90deg); 
	-ms-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	margin-top: 70px;
	font-family: 'BebasRegular';
	font-size: 36px;
	letter-spacing: .06em;
	margin-left: -20px;
}

#forgetful-items{
	position: absolute;
	padding-top: .6em;
	padding-left: 4.8em;
	}

#no-more p{
	margin: 1em;
	color: #f15e3e;	
	text-transform: uppercase;
	text-align: left;
	width: 315px;
	font-size: 19px;
	font-family: 'Antic Slab';
	line-height: 1.2;
}

#no-more .illustration{
	width: 453px;
	margin-top: -10px;
	margin-left: -60px;
	float: right;
	margin-right: 35px;
}




.arrow{
	height: 39px;
	padding: .5em 0 1em 0;
}






/* Social */

#social{
	position: relative;
	height: 2px;
	margin: 0 auto;
	width: 838px;
	margin-top: 3em;
	margin-bottom: 0;
	background: url('/assets/blue-lines.png') no-repeat;

}
	
#social ul{
	position: absolute;
	margin: 0 auto;
	width: 858px;
	margin-top: -15px;
	margin-left: -1em;

}

#social li{
	display: inline;
	list-style: none;
	margin-left: .6em;
	margin-top: -1em;
}


#copyright{
	width: 100%;
	height: 45px;
	background: #faf7e9;
	color: #484848;
	margin-top:35px;	
}


#copyright p{
	color: #484848;	
	font-size: 12px;
	font-style: italic;
	margin-left: 0px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	top: 5px;
}

/* Doug styles */

h1 {
	color: #f15e3e;
	font-family: 'BebasRegular';
	font-size: 36px;
	letter-spacing: .06em;
	margin-top: 30px;
	margin-bottom: 40px;
}


h2 {
	font-family: 'BebasRegular';
	color: #f15e3e;
	letter-spacing: .12em;
	line-height: 1.5;
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-top: 10px;
}

h3 {
	font-family: 'BebasRegular';
	color: #f15e3e;
	letter-spacing: .12em;
	line-height: 1.5;
	font-size: 1.1em;
}

.flabel {
	margin-bottom: 10px;
	margin-top: 15px;
	color: #696762;
	font-family: 'Georgia';
	font-size: 18px;
	word-spacing: 2px;
}
	
.center-pic {
	margin-left: auto;
	margin-right: auto;
	width: 233px;
}

.order-pics-btn {
	width: 129px;
	height: 35px;
	background: #a0c8d4;
	color: #fff;
	font-family: 'BebasRegular';
	line-height: 0;
	font-size: 20px;
	letter-spacing: .1em;
	padding: 5px;
	margin: 0;
	border: 0;
	padding-bottom: 7px;
	cursor: pointer;
	margin-top: 5px;
	position:relative;
	bottom:120px;
	left:70px;
}

.order-pics-btn:hover { text-decoration:none; }

.product-pic {
	border: 10px solid #faf7e9;
	margin-top: 20px;
}
	
.product-text ol {
	list-style: decimal;
	margin-left: 40px;
	color: #f15e3e;
	line-height: 1;
	font-size: 26px;
	font-family: 'Georgia';
	letter-spacing: .1em;
}

.product-text li {
	margin-bottom: 50px;
}

.product-text p {
	margin: 20px 0;
	color: #696762;
	line-height: 1.2;
	font-size: 18px;
	font-family: 'Georgia';
	letter-spacing: .1em;
}

.pricing-table tr {
	text-align:left;
	border-bottom: 3px;
	border-style: solid;
	border-color: #faf7e9;
}

.pricing-table th {
	padding: 10px;
	width: 300px;
	color: #696762;
	line-height: 1.2;
	font-size: 18px;
	font-family: 'Georgia';
	letter-spacing: .1em;
}

.pricing-table td {
	padding: 10px;
	width: 300px;
	color: #696762;
	line-height: 1.2;
	font-size: 18px;
	font-family: 'Georgia';
	letter-spacing: .1em;
}

.links {
	font-family: 'BebasRegular';
	letter-spacing: .05em;
	word-spacing: .2em;
}

.btn-txt {
	color: #696762;
	font-family: 'Georgia';
	letter-spacing: .1em;
}